<!-- 
HTML view page for about us

container-fluid is for mobile-like fluidity. If you're going for desktop 
then just use container

Typing "lorem" then tab will provide extra text
-->

<div class ="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet.</div>
    