<!--
Straightforward HTML doc to create contact email
Bringing variables of @name @email @body from contact_mailer.rb

The point of instance variables (notes in contact_mailer.rb) are to use them in the view files
-->

<!DOCTYPE html>
<html>
    <head></head>
    <body>
         <p>You have received a message from the site's contact form, from
        <%= "#{ @name }, #{ @email }." %></p>
        <p><%= @body %></p>
    </body>
</html>
