/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /*
 Can use classes, etc. from any html page in pages
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

.navbar, .home-callout {
    //Gradient provided by https://webgradients.com/?ref=producthunt
    background-image: linear-gradient(to left, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.navbar {
    border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #1D416C;
    &:hover {
        color: #1D416C;
        opacity:0.75;
    }
}

.navbar-default  {
    color: #1D416C;
    opacity:0.75;
}

.home-callout {
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
    color: #1D416C;
}